<form action="/post" method="POST" class="form-horizontal" role="form">
		<div class="form-group">
			<legend>发表你的微博吧</legend>
		</div>
		<div class="form-group"><textarea name="post" id="" cols="30" rows="10" class="form-control" row="3"></textarea></div>
		
		<div class="form-group">
			<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-comment"></span>发表</button>
		</div>
</form>